:root {
  /* DESIGN SYSTEM COLORS */
  --color-primary-primary-50: #e9e8ed;
  --color-primary-primary-100: #bab7c6;
  --color-primary-primary-200: #9994aa;
  --color-primary-primary-300: #6a6484;
  --color-primary-primary-400: #4d456c;
  --color-primary-primary-500: #211747;
  --color-primary-primary-600: #1e1541;
  --color-primary-primary-700: #171032;
  --color-primary-primary-800: #120d27;
  --color-primary-primary-900: #0e0a1e;

  --color-secondary-secondary-50: #009cde;
  --color-secondary-secondary-100: #05c3dd;
  --color-secondary-secondary-200: #ff8f1c;
  --color-secondary-secondary-300: #00c65e;
  --color-secondary-secundary-400: #df1995;
  --color-secondary-secundary-500: #e10600;
  --color-secondary-secundary-600: #cd0500;
  --color-secondary-secundary-700: #a00400;
  --color-secondary-secundary-800: #7c0300;
  --color-secondary-secundary-900: #5f0300;

  --color-neutral-neutral-50: #ffffff;
  --color-neutral-neutral-100: #e8e8e8;
  --color-neutral-neutral-200: #b9b9b8;
  --color-neutral-neutral-300: #979796;
  --color-neutral-neutral-400: #686866;
  --color-neutral-neutral-500: #4a4a49;
  --color-neutral-neutral-600: #1d1d1b;
  --color-neutral-neutral-700: #1a1a19;
  --color-neutral-neutral-800: #151513;
  --color-neutral-neutral-900: #10100f;
  --color-neutral-neutral-1000: #0c0c0b;

  --color-surface-surface-50: #ffffff;
  --color-surface-surface-100: #fbfbfb;
  --color-surface-surface-200: #f9f9f9;
  --color-surface-surface-300: #f6f6f6;
  --color-surface-surface-400: #f4f4f4;
  --color-surface-surface-500: #f1f1f1;
  --color-surface-surface-600: #dbdbdb;
  --color-surface-surface-700: #ababab;
  --color-surface-surface-800: #858585;
  --color-surface-surface-900: #656565;

  --color-error-error-50: #fdebe9;
  --color-error-error-100: #f8c1bb;
  --color-error-error-200: #f4a39a;
  --color-error-error-300: #ef786c;
  --color-error-error-400: #ec5e4f;
  --color-error-error-500: #e73623;
  --color-error-error-600: #d23120;
  --color-error-error-700: #a42619;
  --color-error-error-800: #7f1e13;
  --color-error-error-900: #61170f;

  --color-warning-warning-50: #fffbea;
  --color-warning-warning-100: #fff1be;
  --color-warning-warning-200: #ffea9f;
  --color-warning-warning-300: #ffe173;
  --color-warning-warning-400: #ffdb58;
  --color-warning-warning-500: #ffd22e;
  --color-warning-warning-600: #e8bf2a;
  --color-warning-warning-700: #b59521;
  --color-warning-warning-800: #8c7419;
  --color-warning-warning-900: #6b5813;

  --color-success-success-50: #f1f7e7;
  --color-success-success-100: #d2e7b5;
  --color-success-success-200: #bddc91;
  --color-success-success-300: #9fcc5e;
  --color-success-success-400: #8cc23f;
  --color-success-success-500: #6fb30f;
  --color-success-success-600: #65a30e;
  --color-success-success-700: #4f7f0b;
  --color-success-success-800: #3d6208;
  --color-success-success-900: #2f4b06;

  --color-informationlink-infolink-50: #ebf3fe;
  --color-informationlink-infolink-100: #c2d8fc;
  --color-informationlink-infolink-200: #a5c6fb;
  --color-informationlink-infolink-300: #7cabf9;
  --color-informationlink-infolink-400: #629bf8;
  --color-informationlink-infolink-500: #3b82f6;
  --color-informationlink-infolink-600: #3676e0;
  --color-informationlink-infolink-700: #2a5caf;
  --color-informationlink-infolink-800: #204887;
  --color-informationlink-infolink-900: #193767;

  /* SEMANTIC COLORS */
  --color-semantic-overlay: rgba(0, 0, 0, 0.5);
  --color-semantic-rating-star: #f8d72d;
}
