:root {
  /* DESIGN SYSTEM COLORS */
  --color-primary-50: #e8f5ed;
  --color-primary-100: #b8e0c8;
  --color-primary-200: #8fd1a9;
  --color-primary-300: #5fbe85;
  --color-primary-400: #46b06d;
  --color-primary-500: #2d8c55;
  --color-primary-600: #297e4d;
  --color-primary-700: #20633c;
  --color-primary-800: #194d2f;
  --color-primary-900: #133b24;

  --color-secondary-50: #e6f4f8;
  --color-secondary-100: #b3dce8;
  --color-secondary-200: #8cc9db;
  --color-secondary-300: #59b0ca;
  --color-secondary-400: #329fbd;
  --color-secondary-500: #0088a8;
  --color-secondary-600: #007a98;
  --color-secondary-700: #005f77;
  --color-secondary-800: #004a5c;
  --color-secondary-900: #003947;

  --color-neutral-50: #ffffff;
  --color-neutral-100: #e8e8e8;
  --color-neutral-200: #b9b9b8;
  --color-neutral-300: #979796;
  --color-neutral-400: #686866;
  --color-neutral-500: #4a4a49;
  --color-neutral-600: #1d1d1b;
  --color-neutral-700: #1a1a19;
  --color-neutral-800: #151513;
  --color-neutral-900: #10100f;
  --color-neutral-1000: #0c0c0b;

  --color-surface-50: #ffffff;
  --color-surface-100: #fbfbfb;
  --color-surface-200: #f9f9f9;
  --color-surface-300: #f6f6f6;
  --color-surface-400: #f4f4f4;
  --color-surface-500: #f1f1f1;
  --color-surface-600: #dbdbdb;
  --color-surface-700: #ababab;
  --color-surface-800: #858585;
  --color-surface-900: #656565;

  --color-error-50: #fdebe9;
  --color-error-100: #f8c1bb;
  --color-error-200: #f4a39a;
  --color-error-300: #ef786c;
  --color-error-400: #ec5e4f;
  --color-error-500: #e73623;
  --color-error-600: #d23120;
  --color-error-700: #a42619;
  --color-error-800: #7f1e13;
  --color-error-900: #61170f;

  --color-warning-50: #fffbea;
  --color-warning-100: #fff1be;
  --color-warning-200: #ffea9f;
  --color-warning-300: #ffe173;
  --color-warning-400: #ffdb58;
  --color-warning-500: #ffd22e;
  --color-warning-600: #e8bf2a;
  --color-warning-700: #b59521;
  --color-warning-800: #8c7419;
  --color-warning-900: #6b5813;

  --color-success-50: #f1f7e7;
  --color-success-100: #d2e7b5;
  --color-success-200: #bddc91;
  --color-success-300: #9fcc5e;
  --color-success-400: #8cc23f;
  --color-success-500: #6fb30f;
  --color-success-600: #65a30e;
  --color-success-700: #4f7f0b;
  --color-success-800: #3d6208;
  --color-success-900: #2f4b06;

  --color-informationlink-50: #ebf3fe;
  --color-informationlink-100: #c2d8fc;
  --color-informationlink-200: #a5c6fb;
  --color-informationlink-300: #7cabf9;
  --color-informationlink-400: #629bf8;
  --color-informationlink-500: #3b82f6;
  --color-informationlink-600: #3676e0;
  --color-informationlink-700: #2a5caf;
  --color-informationlink-800: #204887;
  --color-informationlink-900: #193767;

  /* SEMANTIC COLORS */
  --color-semantic-overlay: rgba(0, 0, 0, 0.5);
  --color-semantic-rating-star: #f8d72d;
}
